@import "tailwindcss";

@font-face {
  font-family: "RuthClair";
  src: url("/fonts/ruthclair/RuthClair.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  background: linear-gradient(to left, #9B9B9B 0%, #C8C8C8 100%);
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
